@model List<ProductPreviewViewModel>
@{
    ViewBag.Title = "Products List";
}

<div>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">CurrentPrice</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
            <tr>
                <td>@product.Name</td>
                <td>@product.CurrentPrice</td>
                <td><a asp-action="ProductDetails" asp-controller="Product" asp-route-productid="@product.Id" class="btn btn-success">Details</a></td>
            </tr>
            }
        </tbody>
    </table>
</div>
